/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f4f4f4;
	color: #202020;
  font: 13.34px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: courier, georgia, serif;
	font-weight: normal;
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
	text-transform: uppercase;
}

h1.hai {
	margin-top: 6px;
}

h2 {
	font-size: 1.8em;
	line-height: 1.2em;
}

p {
	line-height: 1.7em;
  margin: 4px 0 20px 0;
}

a {
  color: #666666;
	text-decoration: none;
	border-bottom: 1px dashed;
}

a:hover {
  color: #ff4b33;
	border-bottom: 1px dashed;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin: 12px 0 50px;
}

  ul.posts li {
    line-height: 1.75em;
		margin-bottom: 0.75em;
  }

  ul.posts span {
    color: #444;
    font-family: Monaco, "Courier New", monospace;
    font-size: 0.8em;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 750px;
  margin: 3em auto 2em auto;
  line-height: 1.7em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 1em;
}

  .site .title a {
		color: #202020;
		background: url(../images/fighters.png) no-repeat 570px 0;
    text-decoration: none;
		font-family: courier, georgia, serif;
		font-size: 4em;
		font-weight: normal;
		height: 50px;
		display: block;
		padding: 140px 0 0 250px;
		border-bottom: none;
  }

  .site .title a:hover {
		background: url(../images/fighters.png) no-repeat 570px -194px;
  }

	.site .title img {
		margin-top: -50px;
	}

  .site .title a.extra {
    color: #202020;
		font-size: 2em;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

	.site .bio {
		line-height: 1.5em;
		margin-bottom: 100px;
	}

  .site .meta {
    color: #202020;
		font-family: Monaco,"Courier New",monospace;
		font-size: 0.8em;
  }

  .site .footer {
    font-size: 80%;
    color: #202020;
		float: left;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
		width: 750px;
  }

    .site .footer .contact {
      float: left;
      margin: 0 3em 0 2px;
    }

      .site .footer .contact a {
				border-bottom: none;
      }

			.site .footer .contact a:hover {
				border-bottom: thin dashed;
			}

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

			.site .footer .columnB h1 {
				margin-top: 6px;
				text-transform: none;
			}

/*****************************************************************************/
/*
/* Posts and portfolio
/*
/*****************************************************************************/

#post, 
#portfolio {

}

  /* standard */

  #post pre, 
	#portfolio pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol 
	#portfolio ul,
	#portfolio ol{
    margin-left: 1.35em;
  }

  #post code,
 	#portfolio code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code,
 		#portfolio pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal,
 	#portfolio pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code,
 	#portfolio pre.terminal code {
    background-color: #333;
  }

	#related {
		font-size: 90%;
	  margin-top: 70px;
	}

	#related h2 {
	}


/*****************************************************************************/
/*
/* Disqus comments
/*
/*****************************************************************************/

	

#disqus-comments {
	margin: 50px 0 50px 0;
	border-top: 4px solid #eee;
}

#disqus-comments a {
	border-bottom: none;
}

#disqus-comments a.dsq-subscribe-email em {
	text-decoration: none;
}

#disqus-comments a.dsq-subscribe-rss em {
	text-decoration: none;
}

/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/

div.jobs h3 {
	margin: 20px 0 5px 0;
}

div.jobs p {
	margin-top: 0;
	padding-top: 0;
}

p.caption {
	color: #202020;
	font-family: Monaco,"Courier New",monospace;
	font-size: 0.8em;
	margin: 0 0 20px 0;
}

h2.portfolio {
	margin-bottom: 20px;
}


/*****************************************************************************/
/*
/* Portfolio
/*
/*****************************************************************************/

.portfolio {
	width: 750px;
	margin-top: 50px;
}

.columnA {
	width: 200px;
	margin: 0 50px 50px 0;
	float: left;
}

.columnB {
	width: 490px;
	margin: 1px 10px 50px 0;
	float: left;
}

/*.intro {
	padding-top: 20px;
} --- fix baseline for intro*/

.portfolio img {
	border: dashed 1px #ccc;
}

.portfolio img.thumb {
	margin-right: 12.9px;
}

.portfolio img:hover {
	border: dashed 1px #ff4b33;
}

.portfolio a.img{
	border-bottom: none;
}

.portfolio ul {
  margin-bottom: 70px;
}

.portfolio ul li {
	line-height: 1.25em;
	margin-bottom: 0.75em;
}

.portfolio ul li {
	border-top: 2px solid #202020;
	list-style-type: none;
	margin-bottom: 50px;
	padding: 2px 0 0;
}

.portfolio ul h2 a {
	color: #202020;
	border-bottom: none;
}

.portfolio ul h2 a:hover {
	color: #ff4b33;
}


/*****************************************************************************/
/*
/* Detail
/*
/*****************************************************************************/

.detail {
	width: 750px;
	margin-top: 50px;
}

.detail ul.summary {
	margin-top: 6px;
}

.detail ul.summary li {
  border-top: 1px dashed #CCCCCC;
  font-size: 90%;
  line-height: 1.2em;
  list-style-type: none;
  margin-bottom: 15px;
}

.detail ul.points {
  margin-bottom: 50px;
}

.detail ul.experience {
	list-style-type: none;
}

	ul.experience h3 {
		font-size: 1.5em;
	}
	
	ul.experience li {
		margin-top: 10px;
	}

.detail ul.points li {
	margin-bottom: 1em;
}

a.back {
	text-transform: uppercase;
	font-size: 90%;
}

