/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f4f4f4;
	color: #202020;
  font: 13.34px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: courier, georgia, serif;
	font-weight: normal;
}

h1 {
  margin-bottom: 0.5em;
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
	margin-top: 50px;
}

p {
  margin: 1.5em 0;
}

a {
  color: #666666;
	text-decoration: none;
	border-bottom: 1px dashed;
}

a:hover {
  color: #000;
	border-bottom: 1px dashed;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 70px;
}

  ul.posts li {
    line-height: 1.75em;
		margin-bottom: 0.75em;
  }

  ul.posts span {
    color: #444;
    font-family: Monaco, "Courier New", monospace;
    font-size: 0.8em;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.7em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 1em;
}

  .site .title a {
		color: #202020;
		background: url(../images/fighters.png) no-repeat 320px 0;
    text-decoration: none;
		font-family: courier, georgia, serif;
		font-size: 4em;
		font-weight: normal;
		height: 50px;
		display: block;
		padding-top: 140px;
		border-bottom: none;
  }

  .site .title a:hover {
		background: url(../images/fighters.png) no-repeat 320px -194px;
  }

	.site .title img {
		margin-top: -50px;
	}

  .site .title a.extra {
    color: #202020;
		font-size: 2em;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

	.site .bio {
		line-height: 1.5em;
		margin-bottom: 100px;
	}

  .site .meta {
    color: #202020;
		font-family: Monaco,"Courier New",monospace;
		font-size: 0.8em;
  }

  .site .footer {
    font-size: 80%;
    color: #202020;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
				border-bottom: none;
      }

			.site .footer .contact a:hover {
				border-bottom: thin dashed;
			}

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }


	/*****************************************************************************/
	/*
	/* Disqus comments
	/*
	/*****************************************************************************/
	
	

#disqus-comments {
	margin: 50px 0 50px 0;
	border-top: 4px solid #eee;
}

#disqus-comments a {
	border-bottom: none;
}

/*
#disqus-comments p, h1, h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, clean, sans-serif; 
}*/


#disqus-comments a.dsq-subscribe-email em {
	text-decoration: none;
}

#disqus-comments a.dsq-subscribe-rss em {
	text-decoration: none;
}

/*#site #dsq-content h3 {
    line-height: 1.5em;
    margin-bottom: 1em;
}

#dsq-content div, #dsq-content p, #dsq-content h3 {
	display: block;
}

#dsq-content h3{
	float: none;
}
#dsq-content ul, #dsq-content li, #dsq-content ol, #dsq-content cite, #dsq-content a, #dsq-content img, #dsq-content select {
	display: inline;
  max-width: none;
  width: auto;
}*/

