* @group Meyer Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear { clear: both; }

::-webkit-input-placeholder { color: #00A5D8; opacity: .7; }
:-moz-placeholder { color: #00A5D8; opacity: .7; border: none; }
:required { box-shadow: none; }


/* @end */

/* background: #FAFAFA url(../img/bg.png) 0 65px repeat-x; */

/* @group Global */


/*
Text styles

*/

body {
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #fafafa;
	padding-bottom: 60px;
}

h1 {
	font-size: 59px;
}

h1, h2 {
	color: #333;
	font-family: "courier new", georgia, serif;
	font-weight: 200;
	padding-bottom: 0px;
}

h2 {
	font-size: 50px;
	width: 100%;
	display: block;
}

h2.portfolio {
	margin-top: 115px;
}

h3 {
	font-size: 30px;
	font-weight: normal;
	margin-top: 3em;
}


h3, h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


p, p.description-text, ul li {
	margin: 0 0 35px;
	line-height: 1.6em;
	font-weight: 200;
}

p.hello {
	font-weight: bold;
}

p.caption {
	font-size: 12px;
}

ul li {
	list-style: circle;
}

ul.meta {
	margin: 0 0 0 -40px;
}

ul.meta li {
	list-style: none;
}

ul.meta li, ul.portfolio li {
	margin-bottom: 15px;
}


.banner a {
	text-decoration: none;
}

.banner a h1 {
	background: url(../images/fighters.png) no-repeat 628px 0;
	display: block;
	padding: 140px 0 0 0;
	border-bottom: none;
	text-decoration: none;
}

.banner a:hover h1 {
	background: url(../images/fighters.png) no-repeat 628px -204px;
}


img.portfolio {
	margin-top: 3em;
}



/*
layout
*/

div.background {
	width: 100%;
}

div.page {
	width: 100%;
	margin: 0 auto;	
	max-width: 780px;
}

div.block {
	width: 100%;
	padding-top: 75px;
	display: block;
	clear: both;
}

div.container-title {
	width: 780px;
	display: block;
	margin: 0 auto;
}

div.container {
	width: 780px;
	margin: 0 auto;
	display: block;
	border-top: 4px solid;
	margin-top: -58px;
	padding: 35px 0 0;
}

div.detail {
	width: 100%;
}

div.description {
	display: block;
	width: 380px;
	float: left;
	margin: 0 20px 0 0;
}

div.feature-image {
	width: 380px;
	display: block;
	float: left;
}

div.footer {
	width: 780px;
	display: block;
}

div.minor {
	display: block;
	width: 180px;
	float: left;
	margin: 0 40px 0 0;
}

div.major {
	width: 560px;
	display: block;
	float: left;
}



