@font-face {
	font-family: Gotham-Bold;
	src: url(fonts/'Gotham-Bold.otf');
}

body {
    /* This has to be same as the text-shadows below */
    background: #DED9D5;
}

h1 {
    font-family: 'Gotham-Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 1em;
}
.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: #84878A;
		text-shadow:	0 -2px 0 #333, 
									0 2px 1px #EFEDEA;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }​