<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>broccolini - Diana Mounter</title>
    <meta name="description" content="I'm a UX designer for web, mobile, and iOS. I like to illustrate things (especially robots), and sometimes I code too.">
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Diana Mounter</h1>
       <h2>I'm a UX designer for web, mobile, and iOS. I like to illustrate things (especially robots), and sometimes I code too.</h2>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

      </div>
    </div>

  </body>
</html>